@import url("main.css");
@import url("../../plugins/perfect-scrollbar/perfect-scrollbar.css");
@import url("structure.css");
/*
    Importing highlight.js CSS code 

    Just for demo purpose only
	
	@Note:-  monokai-sublime.css stylesheet is for highliting the code;

*/
@import "../../plugins/highlight/styles/monokai-sublime.css";

/* Transistion and spinners */
/* Transitions */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.slide-enter-active,
.slide-leave-active {
  transition: opacity 0.5s;
}
.slide-enter, .slide-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* Glass spinner */
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 24px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 12px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.logo-img {
  width: 200px;
  padding: 20px;
}

.form-container.outer {
  position: relative;
  overflow: hidden;
  background: #c9e2fc;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container.outer .bg-img {
  width: 1600px;
  height: 1600px;
  /* -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg); */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #f6f5f8;
}
